{% extends 'inc/base.html' %}
{% load static %}
{% block content %}
    <div class="container profile_info mt-5">
        <div class="row">
            <div class="col-4 ">
                <div class="profile_avatar">
                    <img src="{% static '/img/avatar-2.png' %}" alt="">
                </div>
            </div>
            <div class="col-8 user_info">
                <div class="profile_nickname">
                    <h2 class="header-green">{{ user.user.username  }}</h2>
                </div>

                <div class="reg_date mt-4">
                    <span> Registration date: {{ user.reg_date }}</span>
                </div>
                <div class="answers_count mt-4">
                    <span>Questions answered by {{ user.user.username }}: {{ user.answers }} </span>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5">
        <h2 class="header-green"> {{ user.user.username  }}'s questions: </h2>
    </div>

    {% for question in content %}
        {% include 'inc/single_question.html' %}
    {% endfor %}

    {% include 'inc/paginator.html' %}

{% endblock content %}
