{% load static %}
<div class="question_pg">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                {% if question.get_author.avatar %}
                    <img src="{{ question.get_author.avatar.url }}" alt="">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="">
                {% endif %}
            </div>
            <button class="counter like_question" data-id="{{ question.id }}">
                {% if request.user.is_authenticated %}
                    <!-- TODO inplement logic if question liked -->
                    {% if request.user.is_authenticated %}
                        <img src="{% static '/img/heart.svg' %}" alt="">
                    {% else %}
                        <img src="{% static '/img/red-heart.svg' %}" alt="">
                    {% endif %}
                {% else %}
                    <img src="{% static '/img/heart.svg' %}" alt="">
                {% endif %}
                <span>{{ question.get_like_count }}</span>
            </button>
        </div>
        <div class="col-10">
            <h4 class="qw_pg_title">{{ question.title }}</h4>
            <p>{{ question.text }}</p>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-4">
        <h4><a class="name_by_question" href="{% url "profile" question.author.user.id %}"> Question
            by: {{ question.get_username }}</a></h4>
    </div>
    <div class="col-4">
        <span class="header-green" style="font-size: 20px">Tags: </span>
        {% for tag in question.get_tags %}
            <a class="tag_in_question" href="{% url "single_tag" tag.title %}">{{ tag.title }}</a>
        {% endfor %}
    </div>
    <div class="col-4">
        <h6 class="pub_date">Publication date: {{ question.date }}</h6>
    </div>
</div>