{% load static %}
{% if answer.is_true %}
    <div class="solution">
        <img src="{% static '/img/solution.png' %}" alt="">
    </div>
{% endif %}

<div class="answer">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static '/img/avatar-2.png' %}" alt="">
            </div>
             <div class="counter">
                <img src="{% static '/img/heart.svg' %}" alt="">
                <span>100</span>
            </div>
        </div>
        <div class="col-10">
            <p>{{ answer.text }}</p>
        </div>
    </div>
</div>