{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{% static '/img/avatar-2.png' %}" alt="">
            </div>
            <div class="counter">
                <img src="{% static '/img/heart.svg' %}" alt="">
                <span>{{ question.like_count }}</span>
            </div>
        </div>
        <div class="col-10">
            <h3><a class="header-green" href="{% url "single_q" question.id %}">{{ question.title }}</a></h3>
            <p class="question_text">{{ question.text }}</p>
            <div class="row align-items-end question-meta">
                <div class="col mb-5">
                    <a href="{% url "single_q" question.id%}#answers_list"> Answers (100)</a>
                </div>
                <div class="col mb-5">
                    <span class="header-green tags_title">Tags: </span>
                    <div>
                        <a class="tag_in_question">Tag#1</a>
                        <a class="tag_in_question">Tag#1</a>
                        <a class="tag_in_question">Tag#1</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
