{% load static %}
{% if answer.solution %}
    <div class="solution">
        <img src="{% static '/img/solution.png' %}" alt="">
    </div>
{% endif %}

<div class="answer">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                {% if answer.get_author.avatar %}
                    <img src="{{ answer.get_author.avatar.url }}" alt="">
                {% else %}
                    <img src="{% static 'img/default.png' %}" alt="">
                {% endif %}
            </div>
            <div class="counter">
                <img src="{% static '/img/heart.svg' %}" alt="">
                <span>{{ answer.get_like_count }}</span>
            </div>
        </div>
        <div class="col-10">
            <p>{{ answer.text }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 ">
            <h6><a class="name_by_question" href="{% url "profile" answer.author.user.id %}"> Answer
                by: {{ answer.get_username }}</a></h6>
        </div>
        <div class="col-6">
            <h6 class="pub_date">Publication date: {{ question.date }}</h6>
        </div>
    </div>
</div>